/* Header */

.btn-back {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 100;
}

.btn-back ion-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #333;
  transition: transform 0.2s ease;
}

.btn-back:hover ion-icon {
  transform: translateX(-4px);
}

/**************************/
/* HEADER */
/**************************/

.header {
  position: absolute; /* KEY FIX */
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 4.8rem;

  background: transparent;
  z-index: 1000;
}

.logo {
  height: 7rem;
}

.header,
.header a,
.btn-back ion-icon {
  color: #fff;
}

/* .header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.25);
} */

.nav-open .header {
  background: #fff;
}

.nav-open .main-nav-link,
.nav-open .btn-back ion-icon {
  color: #fff;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav {
  display: block;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.main-nav-link {
  color: #fff;
}

.main-nav-link:hover {
  opacity: 0.8;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

/*  STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

/* Trip Hero */
.trip-hero {
  position: relative;
  height: 100vh;
  background-image: url(../img/Destinations/Lumajang3.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 6.4rem 4.8rem;
}

.trip-hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.15),
    transparent
  );
  z-index: 1;
}

.trip-hero-content {
  position: relative;
  /* max-width: 720px; */
  z-index: 2;
}

/* Header */
.trip-hero-header h1 {
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.trip-location {
  font-size: 1.4rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

/* Description */
.trip-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 2.4rem 0 3.2rem;
  color: rgba(255, 255, 255, 0.9);
}

/* Social proof */
/* .trip-social {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.avatars {
  display: flex;
}

.avatars img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #111;
  margin-left: -10px;
}

.avatars img:first-child {
  margin-left: 0;
}

.trip-social span {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
} */

/* Stats
.trip-stats {
  display: flex;
  gap: 4.8rem;
}

.stat strong {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
}

.stat span {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.7);
} */

.section-cta {
  padding: 9.6rem 2.4rem;
  background-color: #fafafa;
}

.cta-content {
  max-width: 720px;
  margin: 0;
  /* text-align: center; */
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  color: #fff;
}

.cta-buttons {
  display: flex;
  /* justify-content: center; */
  gap: 1.6rem;
}

/* Buttons */
.cta-buttons a {
  padding: 1.4rem 3.2rem;
  font-size: 2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Secondary */
.btn-secondary {
  /* border: 1px solid #585858; */
  color: #ead7c3;
  background: #173437;
}

.btn-secondary:hover {
  background: #585858;
  color: #fff;
}

/* Primary */
.btn-primary {
  background: #f92e04;
  color: #ead7c3;
  border: none;
}

.btn-primary:hover {
  background: #585858;
  color: #fff;
}
